
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.login-body{
  height: 100%;
  background-image: url("./login.jpg");  
}
.container{
  background-color:#0e3238;
}
.sticky{
  z-index: 1;
}
.header-main{
  margin-left: 12%;
  margin-right: 12%;
  padding: 15px;
}
.header-logo{
  width: 100%;
  max-width: 140px;
  height: auto;
}
.header-signin{
  float: right;
  margin-top: 10px;
  border: none;
  background-color: #294a678c;
  min-width: 100px;
  min-height: 42px;
  color: white;
  text-decoration: none !important;
  padding: 11px;
  text-align: center;
}
.header-signup{
  text-decoration: none !important;  
  float: right;
  margin-top: 20px;
  border: none;
  background: none;
  padding-right: 20px;
  /* color: white; */
}
.body-header-main{
  border-bottom: 1px solid;
  border-bottom-color: #04144236;
  margin-bottom: 31px;
  padding-bottom: 25px;
}
.hospital-area{
  // padding-left: 31px;
  border-bottom: 1px solid;
  border-bottom-color: #04144236;
  margin-bottom: 23px;
  padding-bottom: 27px;
}
.search-card{
  width: 100%;
  height: 250px;
  padding: 21px;
  background-color: #a79c1bb8;
  // margin: 20px;
  background-image: url("./healthcare-banner.jpg");
  background-position-x: center;
}
.search-input{
  width: 60%;
  min-height: 42px;
  min-width: 128px;
  padding: 11px;
  display: block;
  margin: 50px auto 5px auto;
  border: none;
  outline: none
}
.body-content{
  display: block;
}
.search-button-par{
  text-align: center
}
.search-section{
  margin-left: 26%;
}
.search-button{
  min-height: 42px;
  min-width: 128px;
  border: none;
  background-color: #7b5151bf;
  color: white;
  border: none;
  outline: none
}
.search-options{
  width:35%;
  min-width: 128px;
  margin: auto 11px 11px auto;
  min-height: 42px;
  padding: 9px;
  border: none;
  outline: none
}
.navbar-item{
  list-style-type: none;
  font-family: monospace;
  font-size: 17px;
  cursor: pointer;
}
.navbar-link{
  text-decoration: none !important;
  color: #42100899;
}
.navbar{
  background-color: #80808017;
  border: none;
}
.dropdown-btn{
  display: inline;
  font-size: inherit;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  color: #42100899;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-decoration: none;
}
.navbar-item:hover .dropdown-content {
  display: block;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

// /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
li {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-btn:hover, li:hover:not(.active) {
  background-color:#55555521;
  color:black
}
.body-header-area{
  width: 25%;
  height: 250px;
  padding-left: 1%;
  padding-top: 3%;
  margin-left: 20px;
  position: absolute;
  h1{
    font-size: 43px;
    margin-bottom: 0px;
    font-family: cursive;
    text-align: center;
    color: #ffffff;
  }
  span{
    margin-left: 9px;
    color: #ffffff;
    opacity: 90%;
    font-family: monospace;
    font-size: 13px;
    text-align: center;
    display: block;
    
  }
}
.body-header{
  display: block;
  position: absolute;
  font-size: 68px;
}
.body-subheader{
  margin-top: 81px;
  margin-left: 12px;
  position: absolute;
}
.hospital-display-area{
  display: block;
  width: 86%;
  padding-left: 18%;
}
.hospital-card-image{
  width: 100%;
  height: 225px;
  max-width: 345px;
  // min-width: 325px;
  // padding: 15px;
}
.hospital-card-list{
  list-style-type: none;
  position: relative;
  display: flex;
  padding: 0px;
  // background-color: #e7f5e9;
  li{
    width: 50%;
    display: inline; 
    background-color: #aeb6b075;    
  }
  li:hover{
    background-color: #888a80b2;
    cursor: pointer;
  }
  .active{
    background:none !important;
  }
}
.hospital-card{
  width: 86%;
  margin: 16px;
  // padding: 11px;
  background-color: #0b7b2314;
  max-width: 290px;
  min-height: 390px;
  p{
    height: 33px;
    padding-left: 15px;
  }
  span{
    font-size: 20px;
    font-family: unset;
    padding: 15px;
  }
  button{
    float: right;
    border: none;
    margin-right: 10px;
    padding: 3px;
    outline: none;
    min-width: 180px;
    color: #596b60;
    background: none;
    font-weight: 700;
  }
  button:hover {
    color: #fafafa;
    font-weight: 500;
    background-color: #596b60;
  }
}
// .hospital-card-detail-area{
//   background-color: #596b60;
// }
.hospital-head{
  margin-left: 16px;
  span{
    font-weight: 700;
    font-size: 18px;
  }
  a{
    margin: 6px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
  }
}
// @media (min-width: 1200px) {
//   .body-content{
//     display: flex;
//   }
// }
@media (min-width: 1368px) {
  .navbar-item{
    display: inline;
  }
  .navbar{
    padding-top: 0px !important;
    padding-left: 2px;
    padding-bottom: 0px;
  }
  // .body-content{
  //   display: flex;
  // }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
  }
  .body-header-area{
    padding-left: 2%;
    margin: 20px;
    h1{
      text-align: left;
      font-size: 67px;
    }
    span{
      text-align: left;
      display: inline;
    }
    .body{
      margin-top: 163px;
    }
  }
}
.login-main{
  text-align: center;
  padding-top: 8%;
  img{
    width: 100%;
    max-width: 149px;
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}
.login-entry{
  margin: 2%;
  margin-left: 6%;
  margin-right: 7%;
  padding: 20px 20px 40px 20px;
  border: 1px solid;
  border-radius: 17px;
  border-color: #06292982;
  min-width: 435px;
  float: right;
  background-color: #0a1e3033;
  min-height: 430px;
  .login-input{
    width: 84%;
    min-height: 42px;
    min-width: 128px;
    padding: 11px;
    border: none;
    outline: none;
    margin: 12px;
    background-color: white !important;
    border-radius: 2px;
  }
}
.login-checkbox-remember{
  display: inline;
  margin-left: 16px;
  margin-right: 25.5%;
  color: white;
}
.login-button{
  border: none;
  background-color: #b1f2f9a1;
  min-width: 100px;
  min-height: 42px;
  color: black;
  font-weight: 700;
  margin-top: 3%;
  outline: none;
  border-radius: 2px
}
.submit-button{
  margin-right: 30%;
}
.cancel-button{
  background-color: white !important;
  margin-right: 12px  
}
.login-error{
  display: block;
  color: #e40808;
  text-align: left;
  margin-left: 8%;
  background-color: #ffffff14;
  padding-left: 7px;
  width: 84%;
}
.login-signup-area{
  margin-top: 5%;
  color: white;
  button{
    outline: none;
    cursor: pointer;
    margin-right: 4%;
  }
}
.login-signup-link{
  border: none;
  background: none;
  padding-right: 46%;
}
.detail-hospital-search-input{
  width: 40%;
  min-height: 42px;
  min-width: 128px;
  padding: 11px;
  display: inline;
  margin: 10px 10px 20px 0px;
  outline: none;
}
.detail-hospital-search-section{
  border-bottom: 1px solid;
  border-bottom-color: #cacdd7;
}
.margin-10{
  margin: 10px;
}
@media (min-width: 1013px) {
  .body-content{
    display: flex;
  }
  .hospital-area{
    padding-left: 4%;
  }
  .hospital-display-area{
    padding-left: 0%;
  }
}
@media (min-width: 768px) {
  .navbar-item{
    display: inline;
  }
  .body{
    margin-top: 163px;
  }
  .navbar{
    padding-top: 0px !important;
    padding-left: 2px;
    padding-bottom: 0px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }
  .dropdown-content{
    margin-left: 251px;
    min-width: 262px;
  }
}
//Mobile devices
@media (max-width: 500px) {
  .login-entry{
    min-width: auto;
  }
  .login-checkbox-remember{
    margin-right: 9.5%;
  }
  .login-signup-area{
    button{
      margin-left: 35%;
      width: 179px;
      margin-right: 0px;
    }
  }
}
