@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.login-body {
  height: 100%;
  background-image: url("./login.jpg"); }

.button {
  margin: 10px;
  border: none;
  background-color: #294a678c;
  min-width: 100px;
  min-height: 42px;
  color: white;
  text-decoration: none !important;
  padding: 11px;
  text-align: center;
  outline: none; }

.container {
  background-color: #0e3238; }

.sticky {
  z-index: 1; }

.bold {
  font-weight: 600; }

.header-main {
  margin-left: 12%;
  margin-right: 12%;
  padding: 15px; }

.header-logo {
  width: 100%;
  max-width: 140px;
  height: auto; }

.header-signin {
  float: right;
  margin-top: 10px;
  border: none;
  background-color: #294a678c;
  min-width: 100px;
  min-height: 42px;
  color: white;
  text-decoration: none !important;
  padding: 11px;
  text-align: center; }

.header-signup {
  text-decoration: none !important;
  float: right;
  margin-top: 20px;
  border: none;
  background: none;
  padding-right: 20px;
  /* color: white; */ }

.body-header-main {
  border-bottom: 1px solid;
  border-bottom-color: #04144236;
  margin-bottom: 31px;
  padding-bottom: 25px; }

.hospital-area {
  border-bottom: 1px solid;
  border-bottom-color: #04144236;
  margin-bottom: 23px;
  padding-bottom: 27px; }

.search-card {
  width: 100%;
  height: 250px;
  padding: 21px;
  background-color: #a79c1bb8;
  background-image: url("./healthcare-banner.jpg");
  background-position-x: center; }

.search-input {
  width: 60%;
  min-height: 42px;
  min-width: 128px;
  padding: 11px;
  display: block;
  margin: 50px auto 5px auto;
  border: none;
  outline: none; }

.body-content {
  display: block; }

.search-button-par {
  text-align: center; }

.search-section {
  margin-left: 26%; }

.search-button {
  min-height: 42px;
  min-width: 128px;
  border: none;
  background-color: #7b5151bf;
  color: white;
  border: none;
  outline: none; }

.search-options {
  width: 35%;
  min-width: 128px;
  margin: auto 11px 11px auto;
  min-height: 42px;
  padding: 9px;
  border: none;
  outline: none; }

.navbar-item {
  list-style-type: none;
  font-family: monospace;
  font-size: 17px;
  cursor: pointer; }

.navbar-link {
  text-decoration: none !important;
  color: #42100899; }

.navbar {
  background-color: #80808017;
  border: none; }

.dropdown-btn {
  display: inline;
  font-size: inherit;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  color: #42100899; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-decoration: none; }

.navbar-item:hover .dropdown-content {
  display: block; }

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  background-color: #ddd; }

li {
  color: black;
  padding: 14px 16px;
  text-decoration: none; }

.dropdown-btn:hover, li:hover:not(.active) {
  background-color: #55555521;
  color: black; }

.body-header-area {
  width: 25%;
  height: 250px;
  padding-left: 1%;
  padding-top: 3%;
  margin-left: 20px;
  position: absolute; }
  .body-header-area h1 {
    font-size: 43px;
    margin-bottom: 0px;
    font-family: cursive;
    text-align: center;
    color: #ffffff; }
  .body-header-area span {
    margin-left: 9px;
    color: #ffffff;
    opacity: 90%;
    font-family: monospace;
    font-size: 13px;
    text-align: center;
    display: block; }

.body-header {
  display: block;
  position: absolute;
  font-size: 68px; }

.body-subheader {
  margin-top: 81px;
  margin-left: 12px;
  position: absolute; }

.hospital-display-area {
  display: block;
  width: 86%;
  padding-left: 18%; }

.hospital-card-image {
  width: 100%;
  height: 225px;
  max-width: 345px; }

.hospital-card-list {
  list-style-type: none;
  position: relative;
  display: flex;
  padding: 0px; }
  .hospital-card-list li {
    width: 50%;
    display: inline;
    background-color: #aeb6b075; }
  .hospital-card-list li:hover {
    background-color: #888a80b2;
    cursor: pointer; }
  .hospital-card-list .active {
    background: none !important; }

.hospital-card {
  width: 86%;
  margin: 16px;
  background-color: #0b7b2314;
  max-width: 290px;
  min-height: 390px; }
  .hospital-card p {
    height: 33px;
    padding-left: 15px; }
  .hospital-card span {
    font-size: 20px;
    font-family: unset;
    padding: 15px; }
  .hospital-card button {
    float: right;
    border: none;
    margin-right: 10px;
    padding: 3px;
    outline: none;
    min-width: 180px;
    color: #596b60;
    background: none;
    font-weight: 700; }
  .hospital-card button:hover {
    color: #fafafa;
    font-weight: 500;
    background-color: #596b60; }

.hospital-card:hover {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35); }

.hospital-head {
  margin-left: 16px;
  display: block; }
  .hospital-head span {
    font-weight: 700;
    font-size: 18px; }
  .hospital-head a {
    margin: 6px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none; }

.breadcrumbs {
  /*centering*/
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
  counter-reset: flag;
  cursor: pointer;
  border: 2px solid #999999;
  margin-bottom: 27px; }

.breadcrumbs a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#666, #333);
  position: relative; }

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumbs a:first-child {
  padding-left: 46px; }

.breadcrumbs a:first-child:before {
  left: 14px;
  padding-left: 6px; }

.breadcrumbs a:last-child {
  padding-right: 20px; }

/*hover/active styles*/
.breadcrumbs a.active, .breadcrumbs a:hover {
  background: #333;
  background: linear-gradient(#333, #000); }

.breadcrumbs a.active:after, .breadcrumbs a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333, #000); }

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumbs a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  /*half of square's length*/
  /*same dimension as the line-height of .breadcrumbs a */
  width: 36px;
  height: 36px;
  /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  background: #666;
  background: linear-gradient(135deg, #666, #333);
  /*stylish arrow design using box shadow*/
  box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  /*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px; }

/*we dont need an arrow after the last link*/
.breadcrumbs a:last-child:after {
  content: none; }

/*we will use the :before element to show numbers*/
.breadcrumbs a:before {
  content: counter(flag);
  counter-increment: flag;
  /*some styles now*/
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: linear-gradient(#444, #222);
  font-weight: bold;
  color: #000; }

.flat a, .flat a:after {
  background: white;
  color: black;
  transition: all 0.5s; }

.flat a:before {
  background: white;
  box-shadow: 0 0 0 1px #ccc;
  padding-left: 6px; }

.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after {
  background: #8b8e8f;
  color: white; }

a.selected, a.selected:after {
  background: #387491 !important;
  color: white; }

a.inactive {
  pointer-events: none; }

@media (min-width: 1368px) {
  .navbar-item {
    display: inline; }
  .navbar {
    padding-top: 0px !important;
    padding-left: 2px;
    padding-bottom: 0px; }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 2; }
  .body-header-area {
    padding-left: 2%;
    margin: 20px; }
    .body-header-area h1 {
      text-align: left;
      font-size: 67px; }
    .body-header-area span {
      text-align: left;
      display: inline; }
    .body-header-area .body {
      margin-top: 163px; } }

.login-main {
  text-align: center;
  padding-top: 8%; }
  .login-main img {
    width: 100%;
    max-width: 149px;
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%; }

.login-entry {
  margin: 2%;
  margin-left: 6%;
  margin-right: 7%;
  padding: 20px 20px 40px 20px;
  border: 1px solid;
  border-radius: 17px;
  border-color: #06292982;
  min-width: 435px;
  float: right;
  background-color: #0a1e3033;
  min-height: 430px; }
  .login-entry .login-input {
    width: 84%;
    min-height: 42px;
    min-width: 128px;
    padding: 11px;
    border: none;
    outline: none;
    margin: 12px;
    background-color: white !important;
    border-radius: 2px; }

.login-checkbox-remember {
  display: inline;
  margin-left: 16px;
  margin-right: 25.5%;
  color: white; }

.login-button {
  border: none;
  background-color: #b1f2f9a1;
  min-width: 100px;
  min-height: 42px;
  color: black;
  font-weight: 700;
  margin-top: 3%;
  outline: none;
  border-radius: 2px; }

.submit-button {
  margin-right: 30%; }

.cancel-button {
  background-color: white !important;
  margin-right: 12px; }

.login-error {
  display: block;
  color: #e40808;
  text-align: left;
  margin-left: 8%;
  background-color: #ffffff14;
  padding-left: 7px;
  width: 84%; }

.login-signup-area {
  margin-top: 5%;
  color: white; }
  .login-signup-area button {
    outline: none;
    cursor: pointer;
    margin-right: 4%; }

.login-signup-link {
  border: none;
  background: none;
  padding-right: 46%; }

.detail-hospital-search-input {
  width: 40%;
  min-height: 42px;
  min-width: 128px;
  padding: 11px;
  display: inline;
  margin: 10px 10px 20px 0px;
  outline: none; }

.detail-hospital-search-section {
  border-bottom: 1px solid;
  border-bottom-color: #cacdd7; }

.margin-10 {
  margin: 10px; }

.search-addhospital-button {
  float: right;
  min-height: 42px;
  min-width: 140px;
  border: none;
  background-color: #18500aa1;
  color: white;
  border: none;
  outline: none;
  margin-top: 13px; }

.register-hos-form {
  margin: 20px; }
  .register-hos-form td {
    padding: 5px; }
    .register-hos-form td input {
      min-width: 330px;
      min-height: 35px; }
    .register-hos-form td textarea {
      min-width: 330px;
      max-width: 330px;
      min-height: 86px; }

.register-hos label {
  font-size: large; }

.register-hos button {
  min-height: 42px;
  min-width: 140px;
  border: none;
  background-color: #18500aa1;
  color: white;
  border: none;
  outline: none;
  margin: 25px auto auto 20px; }

.register-hos .cancel-button {
  background-color: grey !important; }

.simple-hos-card-area {
  padding: 10px;
  display: inline-grid;
  width: 100%;
  background-color: #09589c38;
  min-height: 136px;
  min-width: 350px;
  margin: 5px;
  max-height: 150px;
  color: #4a4a4a;
  font-size: 12px; }
  .simple-hos-card-area .simple-hos-card-btn {
    float: right;
    background-color: #ffffffa8;
    margin-right: 0px;
    color: #02131dd4;
    display: grid;
    margin-top: 24px; }
  .simple-hos-card-area .simple-hos-card-btn:hover {
    color: #ffffffff;
    background-color: #09589c8a; }
  .simple-hos-card-area p {
    font-size: 11px;
    width: 300px;
    height: 25px; }
  .simple-hos-card-area .simple-hos-title {
    font-size: 20px;
    font-family: serif;
    color: black;
    margin-bottom: 15px; }
  .simple-hos-card-area .simple-hos-details span {
    display: block; }

.simple-hos-card-area:hover {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35); }

.doctor-card {
  width: 60%;
  margin: 16px;
  padding: 11px;
  background-color: #0b7b2314;
  min-height: 215px; }
  .doctor-card label {
    font-size: 20px;
    font-family: serif;
    padding: 4px; }
  .doctor-card .doctor-img {
    width: 100%;
    height: 100px;
    max-width: 100px;
    position: absolute;
    margin-top: 35px; }
  .doctor-card .doctor-details {
    float: right;
    text-align: right;
    margin-top: 20px;
    font-size: 13px; }
    .doctor-card .doctor-details span {
      display: block;
      padding: 2px;
      max-width: 430px; }
    .doctor-card .doctor-details .doctor-description {
      min-height: 40px; }
    .doctor-card .doctor-details button {
      margin: 0px !important;
      min-width: 200px; }

.doctor-card:hover {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35); }

.doctor-filter {
  position: absolute;
  float: right;
  margin-left: 48%;
  border-left: 1px solid #00000030;
  padding: 12px;
  height: 120%; }

.date-time-picker-table th {
  padding: 10px 0px 10px 3px;
  font-size: 18px; }

.date-time-picker-table .date-time-header {
  font-weight: 600; }

.date-time-picker-table td {
  padding: 8px;
  width: 141px;
  background-color: #edf5ef;
  border: 5px solid white;
  text-align: center; }

.date-time-picker-table td:hover {
  cursor: pointer;
  background-color: #949494; }

.date-time-picker-table .active {
  background-color: #949494; }

.patient-details-area table {
  margin: 30px 0px 20px 3px; }

.patient-details-area .patient-form-input {
  padding: 5px;
  min-width: 261px;
  min-height: 35px;
  border: none;
  outline: none; }

.patient-details-area #radio {
  margin: 10px; }

.patient-details-area th {
  padding: 10px 0px 10px 3px;
  font-size: 18px; }

.patient-details-area td {
  padding: 8px;
  width: 141px;
  background-color: #edf5ef;
  border: 2px solid white; }

.appointment-confirmation-area th {
  padding: 10px 0px 10px 3px;
  font-size: 18px; }

.appointment-confirmation-area td {
  padding: 8px;
  width: 340px;
  background-color: #edf5ef;
  border: 2px solid white; }

@media (min-width: 1013px) {
  .body-content {
    display: flex; }
  .hospital-area {
    padding-left: 4%;
    display: inline-block; }
  .hospital-display-area {
    padding-left: 0%;
    display: inline-grid;
    width: 30%; } }

@media (min-width: 768px) {
  .navbar-item {
    display: inline; }
  .body {
    margin-top: 163px; }
  .navbar {
    padding-top: 0px !important;
    padding-left: 2px;
    padding-bottom: 0px; }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; }
  .dropdown-content {
    margin-left: 251px;
    min-width: 262px; }
  .hospital-area {
    padding-left: 4%;
    display: inline-block; }
  .simple-hos-card-area {
    width: 48%;
    min-width: 400px; }
    .simple-hos-card-area .simple-hos-card-btn {
      display: grid; }
  .simple-hos-card-area:hover {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35); } }

@media (max-width: 500px) {
  .login-entry {
    min-width: auto; }
  .login-checkbox-remember {
    margin-right: 9.5%; }
  .login-signup-area button {
    margin-left: 35%;
    width: 179px;
    margin-right: 0px; } }
